.animated {
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;
	-o-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;

	&.slideDown {
		-webkit-animation-name: slideDown;
		-moz-animation-name: slideDown;
		-o-animation-name: slideDown;
		animation-name: slideDown;
	}

	&.slideUp {
		-webkit-animation-name: slideUp;
		-moz-animation-name: slideUp;
		-o-animation-name: slideUp;
		animation-name: slideUp;
	}
}

.top {
	background: transparent;
}

.notTop {
	background: #1C1D21;
	background-image: none !important;
}