#footer {
	position: relative;
	padding: 20px;
	display: block;
	text-align: center;
	color: #FFF;
	background: #1C1D21;
	z-index: 1;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;

	a {
		color: #FFF;
		cursor: pointer;
	}
}